body{
    font-family: 'Poppins', sans-serif;
font-family: 'Titillium Web', sans-serif;


}
h1{
    font: 50px;
}
.orange-color{
    color: rgb(64, 0, 255);
}
section{
    display: flex;
}
div{
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 10px;
}
.link-button{
    text-decoration: none;
    background-color: rgb(237, 236, 233);
    padding: 10px 25px;
    margin: 175px;
    border-radius: 6px;
    font-style: oblique;
    font-weight: 700;
}
.top-banner{
    background-image: url(eat-healthy/images/shapes/Group\ 8448.png);
    background-position: left;
    background-repeat: no-repeat;

}
.mt-100{
    margin-top: 150px;
}
.half-widgt img{
    width: 600px;
}
h1 span{
    color: orangered;
}
.mt-100{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 1px;
    margin-right: 30px;

}
#font-style{
    font-weight: 900;
    font-size: 300%;
}
.normalbanner{
    background-image: url(eat-healthy/images/shapes/Group\ 8450.png);
    background-repeat: no-repeat;
    background-position: center;
}
.normalbanner{
    margin-top: 100px;
}
h3{
    color: rgb(255, 0, 4);
}


.normalbanner{
    margin-bottom: 100px;
}
#hlw{
    text-align: center;
    font-size: x-large;
}
.half-time{
    
    box-shadow: 15px 5px 5px 5px orange;
    padding-left: 20px;
    padding-right: 20px;
    
}
    
   